:root{
    --verdeescuro: #2e7d5f;
    --verdeclaro: #a7d7c3;
    --dourado: #c9a86a;
    --creme: #f3efea;
    --branco: #fff;
    --preto: #000;
}
body{
    margin: 0;
}
.div1 {
    background-color: var(--creme);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.frasedestaque{
    color: var(--verdeescuro);
    font-weight: 400;
    font-size: 4rem;
    margin: 0 4rem;
}
.destaque{
    color: var(--dourado);
    font-weight: bold;
}
.div2 {
    background-color: var(--verdeescuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
.div2 h2{
    font-size: 3rem;
    color: var(--creme);
    font-weight: 400;
    margin: 1rem 0;
}
.div2 h5{
    font-size: 3rem;
    color: var(--creme);
    font-weight: 400;
    text-align: center;
    margin: 3rem;
}
.div2-1 {
    display: flex;
    flex-direction: row;
}
.div2-1 div {
    margin: 1rem 1rem;
    padding: 0rem 2rem;
    height: 20rem;
    width: 20rem;
    border: solid 1px var(--dourado);
    border-radius: 40px;
}
.div2-1 h3, .div2-1 h4 {
    text-align: center;
    color: var(--dourado);
    font-size: 1.5rem;
}
.div2-1 li {
    color: var(--creme);
    font-size: 1rem;
    font-weight: 400;
}
.ajuste{
    margin: 5.4rem;
}
button.btnconheca {
    height: 3rem;
    width: 20rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 14px;
    border: solid 1px var(--dourado);
    background-color: var(--dourado);
    color: var(--verdeescuro);
}
button.btnconheca:hover {
    height: 3rem;
    width: 20rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 14px;
    border: solid 1px var(--dourado);
    background-color: transparent;
    color: var(--dourado);
}
.div3 {
    background-color: var(--dourado);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
.divicones {
    display: flex;
    flex-direction: row;
}
.divicones img {
    width: 8rem;
}
.div3 h2 {
    font-size: 3rem;
    color: var(--branco);
    font-weight: 400;
    margin: 1rem 0;
}
.divicones div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
}
.divicones h5 {
    color: var(--branco);
    font-size: 1.2rem;
    margin: 1rem 0 1rem;
    font-weight: 500;
}
.div3 h4 {
    color: var(--branco);
    font-size: 1.5rem;
    margin: 0 0 1rem;
    font-weight: 500;
}
.div4{
    background-color: var(--creme);
    padding: 1rem 0;
}
.div4 h2, .div5 h2 {
    font-size: 3rem;
    color: var(--preto);
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.div4-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div4-1 li {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.div4-1 img{
    width: 26rem;
}
.div5{
    background-color: #f2f2f2;
    padding: 1rem 0;
}
.div5-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0 1rem;
}
.div5-1 img{
    width: 8rem;
}
.div5-1 h5{
    margin: 1rem 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
}
.div5-1 div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rodape {
    background-color: var(--dourado);
    padding: 1rem 0;
}
.rodape h6{
    margin: 0;
    color: var(--branco);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
/* Mobile*/
@media screen and (max-width: 768px) {
     .div1 {
        flex-direction: column;
        padding: 3rem 1rem 0;
    }
    img.imgprincial {
        width: 30rem;
    }
    .frasedestaque {
        font-size: 3rem;
        margin: 0 0rem;
        text-align: center;
    }
    .div3 h2, .div4 h2, .div5 h2 {
        font-size: 2rem;
    }
    .divicones {
        display: flex;
        flex-direction: column;
    }
    .div4-1 li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .div4-1 img {
        width: 5rem;
    }
    .div5-1 {
        flex-direction: column;
    }
    .div5-1 div {
        margin-bottom: 2rem;
    }
    .div2-1 {
        display: flex;
        flex-direction: column;
    }
}